.folder-app {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 50px; /* Adjusted width to be a bit shorter */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-btn {
    background-color: #118AB2; /* Updated color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.folder-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: flex-start;
}

.folder-item {
    position: relative;
    width: 150px;
    text-align: center;
}

.folder-icon {
    width: 170px;
    height: 120px;
}

.folder-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    position: relative;
}

.options-icon {
    cursor: pointer;
    margin-left: 10px;
}

.options-dropdown {
    position: absolute;
    top: 135px;  /* Position below the three dots */
    right: -65px;   /* Align to the right of the three dots */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.options-dropdown button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-weight: bold; /* Make all dropdown buttons bold */
}

.options-dropdown button:hover {
    background-color: #f0f0f0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    padding: 10px;
    margin-bottom: 10px;
}

.modal-content button[type="submit"] {
    padding: 10px;
    background-color: #118AB2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
